.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b6b6b6;
}
.footer-text {
  text-align: center;
  color: #333;
}
.footer-info {
  text-align: center;
  color: #f38181;
}
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column-reverse;
    gap: 25px;
  }
}
