.header {
  padding-top: 17px;
  padding-bottom: 80px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav-link {
  color: #95e1d3;
  position: relative;
}
.nav-link::after {
  position: absolute;
  content: "";
  color: #f38181;
  width: 96.15%;
  height: 2px;
  left: 1px;
  bottom: -10px;
  opacity: 0;
  transform: scaleX(0) translateY(10px);
  transform-origin: left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1) translateY(0);
}
.nav-link:hover {
  color: #f38181;
}
