.header {
  padding-top: 17px;
  padding-bottom: 80px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav-link {
  color: #95e1d3;
  position: relative;
}
.nav-link::after {
  position: absolute;
  content: "";
  color: #f38181;
  width: 96.15%;
  height: 2px;
  left: 1px;
  bottom: -10px;
  opacity: 0;
  transform: scaleX(0) translateY(10px);
  transform-origin: left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1) translateY(0);
}
.nav-link:hover {
  color: #f38181;
}
.header-menu {
  display: none;
  position: relative;
  width: 20px;
  height: 15px;
  background-color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    left: 0;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.header-menu-icon {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1.5px;
  width: 100%;
  background-color: #333;
  transform: translateY(-50%);
  transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.open ~ .header-menu .header-menu-icon {
  transform: rotate(405deg) scale(1.5);
  background-color: red;
}
.open ~ .header-menu::before {
  transform: rotate(45deg) scale(1.5);
  top: 50%;
  background-color: red;
}
.open ~ .header-menu::after {
  transform: rotate(-45deg) scale(1.5);
  top: 50%;
  background-color: red;
}

@media (max-width: 1199px) {
  .header {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .nav-list {
    gap: 30px;
  }
}
@media (max-width: 575px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 242, 242);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .header-nav.open {
    transform: translateX(0);
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .nav-link {
    font-size: 2em;
  }
  .header-menu {
    display: block;
    z-index: 10;
  }
}
