.subscribe {
  display: flex;
}
.subscribe-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 12px 10px;
}
@media (max-width: 575px) {
  .subscribe {
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
  }
  .subscribe-mail {
    border: 1px solid #b6b6b6;
    border-bottom: 0;
  }
}
