body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #b6b6b6;
}

.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  display: block;
}
/* ---------------------header-------------- */
.header {
  padding-top: 17px;
  padding-bottom: 80px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav-link {
  color: #95e1d3;
  position: relative;
}
.nav-link::after {
  position: absolute;
  content: "";
  color: #f38181;
  width: 96.15%;
  height: 2px;
  left: 1px;
  bottom: -10px;
  opacity: 0;
  transform: scaleX(0) translateY(10px);
  transform-origin: left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1) translateY(0);
}
.nav-link:hover {
  color: #f38181;
}
/* ----------------------------------main----------------- */
.services {
  padding-bottom: 100px;
}
.services-title {
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin-bottom: 65px;
}
.services-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
}
.service {
  flex-basis: calc((100% - 140px) / 3);
}
.service:hover .service-photo {
  transform: rotateY(1turn);
}
.service-photo {
  transition: transform 1s ease;
  height: 37px;
  width: 37px;
  fill: #95e1d3;
}
.service-heading {
  display: flex;
  gap: 20px;
}
.service-title {
  color: #333;
}
.service-text {
  font-size: 15px;
  line-height: 1.47;
  padding-left: 57px;
}
/* ---------------------------------TEAM---------------------------- */
.team {
  padding-bottom: 80px;
}
.team-title {
  font-weight: 700;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin-bottom: 45px;
}
.team-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 27px;
}
.team-members {
  display: flex;
  gap: 30px;
}
.teammate {
  flex-basis: calc((100% - 60px) / 3);
}
.teammate-foto {
  margin-bottom: 30px;
  position: relative;
}
.teammate-foto::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.teammate:nth-child(1) > .teammate-foto::after {
  background-image: linear-gradient(
    to right bottom,
    rgba(217, 90, 0, 0.545),
    rgba(249, 225, 15, 0.524)
  );
}

.teammate:nth-child(2) > .teammate-foto::after {
  background-image: linear-gradient(
    to right bottom,
    rgba(243, 64, 32, 0.545),
    rgba(163, 15, 249, 0.524)
  );
}
.teammate:nth-child(3) > .teammate-foto::after {
  background-image: linear-gradient(
    to right bottom,
    rgba(13, 163, 8, 0.545),
    rgba(249, 70, 15, 0.524)
  );
}
.teammate-name {
  text-align: center;
  color: #333;
  margin-bottom: 11px;
}
.teammate-role {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}
/* -------------------------footer----------------------------- */
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: #333;
}
.footer-info {
  text-align: center;
  color: #f38181;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 12px 10px;
}
.subscribe-botton {
  font-weight: 700;
  color: #fff;
  background-color: #95e1d3;
  padding: 12px 38px;
}
